.titulo-principal{
  position: relative;
}

html, body{
  height: 100%;
}

body {
  padding-left: 0px;
}

footer {
    background-color: #333;
    color: #FFF;
    padding-top: 0.5em;
    padding-bottom: 0em;

}
footer h2 {
    font-size: 3em;
}
footer a {
    color: #F99;
}

.rodape-contato{
  padding-left: 40px;
}

h1 a {
    color: #FCA205;
    font-family: '-apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif';
    margin:auto;
}

main{
  width: 100%;
  padding-bottom: 0;
  float:none;
}

.rodape-django{
  text-align:center;
  background-color: grey;
  padding-top: 1em;
  padding-bottom: 0.5em;
  font-weight: bold;

}
.page-header {
    background-color: #2e2b2b;
    margin-top: 0;
    padding: 20px 20px 40px 40px;
    text-align: center;
}


.header-description{
  color:#FFF;
  text-align: center;

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    text-align: justify;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.glyphicon{
  line-height: 0;
}
